{% extends 'base.html' %}
{% block style %}
    <link href="../static/css/admin.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="admin-wrapper">
        <h1>Администрирование магазина</h1>
    <button class="btn btn-success" onclick="document.location.href = '{{ url_for('add_product_view') }}'">Добавить новый товар</button>
        {% for item in products %}
        <div class="card{{ item.id }} admin-card">
        <p><a class="link-info admin-link" href="{{ url_for('product', id=item.id) }}">{{ item.title }}</a></p>
        <p class="product-price">{{ item.price }}</p>
        <button class="btn btn-danger" id="delete-btn{{ item.id }}">
            Удалить товар
            </button>
        <button class="btn btn-warning" onclick="document.location.href = '{{ url_for('edit_product_view',id=item.id) }}'">
            Изменить товар
        </button>
        <script>
            $('#delete-btn{{ item.id }}').on('click', function () {
                $.ajax({
                    url: "{{ url_for('delete_product',id=item.id) }}",
                    method: 'post'
                });
                document.querySelector('.card{{ item.id }}').remove();
            });
        </script>
        </div>
    {% endfor %}
    </div>
{% endblock %}