{% extends 'base.html' %}
{% block body %}
    <div class="auth-container">
        <div class="auth-wrapper">
        <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
        <form method="post">
        <div class="auth-form">
            <h2 class="auth-form-title">Авторизация</h2>
            {{ form.csrf_token() }}
            {% for field in form if field.name != 'csrf_token' %}
                <div class="field">
                {% if field.name != 'submit' %}
                    {{ field.label(_class="field-label")}}
                {% endif %}
                    {{ field }}
                {% for error in field.errors %}
                    <div class="alert-help alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
            {% if message %}
                <div class="alert-help alert alert-danger" role="alert">
                    <b>{{ message }}</b>
                </div>
            {% endif %}
        </div>
        </form>
        </div>
    </div>
{% endblock %}