{% extends 'base.html' %}
{% block body %}
    <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
    {% if cart %}
        {% for item in cart %}
            <p>{{ item }}</p>
            <p>Количество товаров: {{ session['cart'][item.id] }}</p>
            <p>Стоимость: {{ session['cart'][item.id] * item.price }}</p>
        {% endfor %}
        <p><b>Всего: {{ total_amount }}</b></p>
    {% else %}
        <p><b>В вашей корзине нет товаров...</b></p>
    {% endif %}
{% endblock %}