{% extends 'base.html' %}
{% block body %}
    <div class="cart-wrapper">
    <h1>Корзина</h1>
    {% if cart %}
        <div class="cart-cards-list">
            {% for item in cart %}
            <div id="card{{ item.id }}" class="cart-card">
                {% include 'partialtags/cart_and_wishlist_card.html' %}
                <p style="color: green">В наличии: {{ item.count }}</p>
                <form method="post">
                    <input name="count" id="count-input{{ item.id }}" type="number" min="1" max="{{ item.count }}" value="{{ session['cart'][item.id]}}"
                    style="width: 50px">
                </form>
                <p id="product{{ item.id }}-price">Стоимость: {{ (session['cart'][item.id] * item.price)|round(2) }}₽</p>
                <button id="delete{{ item.id }}" class="btn btn-danger delete-from-cart-btn">Удалить из корзины</button>
                <script>
                    $('#delete{{ item.id }}').on('click', function () {
                        $.ajax({
                            url: "{{ url_for('remove_from_cart',id=item.id) }}",
                            method: 'post',
                            dataType: 'html',
                            success: function (data) {
                                alert(data);
                                data = JSON.parse(data);
                                alert(data['price']);
                                alert(data['count']);
                                document.querySelector('#total_price').innerText = 'Всего: ' +
                                    `${Math.round((+document.querySelector('#total_price').innerText.match(/[\d/.]+/g)[0] - (+data['count']) * (+data['price'])) * 100) / 100}₽`;
                                if (+document.querySelector('#total_price').innerText.match(/[\d/.]+/g)[0] === 0) {
                                    document.querySelector('#total_price').innerText = 'В вашей корзине нет товаров...';
                                    document.querySelector('#offer').remove();
                                }
                            }
                        })
                        document.querySelector('#card{{ item.id }}').remove();
                    })
                    $("#count-input{{ item.id }}").bind('mouseup keyup', function () {
                        $.ajax({
                            url: "{{ url_for('change_product_count',id=item.id) }}",
                            method: 'post',
                            data: {'count': +$("#count-input{{ item.id }}").val()},
                            dataType: 'html',
                            success: function (data) {
                                {#alert('s');#}
                                {#alert(data);#}
                                data = JSON.parse(data);
                                {#alert('doc:'+document.querySelector('#total_price').innerText.match(/[\d/.]+/g)[0]);#}
                                {#alert('val:' + +$("#count-input{{ item.id }}").val());#}
                                {#alert(data['prev']);#}
                                {#alert(data['up']);#}
                                let res = `Всего: ${Math.round((+document.querySelector('#total_price').innerText.match(/[\d/.]+/g)[0] + (+$("#count-input{{ item.id }}").val() - data['prev']) * {{ item.price }})*100)/100}₽`;
                                document.querySelector('#total_price').innerText = res;
                                document.querySelector('#product{{ item.id }}-price').innerText = `Стоимость: ${Math.round((+$("#count-input{{ item.id }}").val() * {{ item.price }})*100)/100}₽`;
                                }
                            }
                        )});
                </script>
            </div>
        {% endfor %}
        </div>
        <p><b id="total_price">Всего: {{ total_amount|round(2) }}₽</b></p>
        {% if current_user.is_authenticated %}
            <button id="offer" class="btn btn-outline-success">Оформить заказ</button>
        {% else %}
            <p><b>Пожалуйста, авторизуйтесь в системе, чтобы оформить заказ</b></p>
            <a href="{{ url_for('auth', next='/cart') }}">Авторизация</a>
        {% endif %}
    {% else %}
        <p style="font-size: 30px;"><b>В вашей корзине нет товаров...</b></p>
    {% endif %}
    <script>
        $('#offer').on('click', function () {
            $.ajax({
                url: "{{ url_for('append_offer') }}",
                method: 'post',
                dataType: 'html',
                data: {'total_amount': +document.querySelector('#total_price').innerText.match(/[\d/.]+/g)[0]}
            });
            document.location.href = "{{ url_for('clear_session') }}";
        })
    </script>
    </div>
{% endblock %}