{% extends 'base.html' %}
{% block style %}
    <link href="../static/css/edit-product.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="edit-product-wrapper">
        <div class="edit-product-form">
                <button class="btn btn-info" onclick="document.location.href = '{{ url_for('admin_view') }}';">
                Панель администрирования
                </button>
            <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {% for field in form if field.name != 'csrf_token' %}
                <div class="field">
                    {% if field.name != 'submit' %}
                        {{ field.label(_class='field-label') }}
                    {% endif %}
                    {{ field }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endfor %}
            {% if error %}
                <div class="alert alert-danger">
                    <p style="font-weight: bold;text-align: center;margin-bottom: 0">Такой товар уже существует!</p>
                </div>
            {% endif %}
            </form>
        </div>
    </div>
{% endblock %}