{% extends 'base.html' %}
{% block body %}
    <h1>{{ title }}</h1>
    <h2>
        {% if current_user.is_authenticated %}
            Привет, {{ current_user.name }}!
        {% endif %}
    </h2>
    {% if not current_user.is_authenticated  %}
        <a href="{{  url_for('registration') }}">Зарегистрироваться</a>
        <a href="{{ url_for('auth') }}">Войти</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Выйти</a>
    {% endif %}
    {% for product in goods %}
        <p>{{ product.title }}</p>
        <p>{{ product.description[:15] }}...</p>
        <p>{{ product.price }}</p>
    {% endfor %}
{% endblock %}