{% extends 'base.html' %}
{% block body %}
    <h1>{{ title }}</h1>
    <h2>
        {% if current_user.is_authenticated %}
            Привет, {{ current_user.name }}!
        {% endif %}
    </h2>
    {% if not current_user.is_authenticated  %}
        <a href="{{  url_for('registration') }}">Зарегистрироваться</a>
        <a href="{{ url_for('auth') }}">Войти</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        {% if current_user.is_admin %}
            <a href="{{ url_for('add_product_view') }}">Добавить новый товар</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for('cart') }}">Моя корзина</a>
    <a href="{{ url_for('wishlist_view') }}">Избранное</a>
    <form method="get">
        <input type="text" name="text_filter" placeholder="Введите имя или описание товара..."
               value="{{ search|default('', true) }}">
        <br>
        <b>Категории</b>
        <br>
        {% for item in categories if item != 'null_category' %}
            <label>{{ item }}
                <input type="checkbox" name="{{ item }}" value="{{ item }}"
                        {% if item in chosen_categories %}checked{% endif %}>
            </label>
            <br>
        {% endfor %}
            <label>Нет категории
            <input type="checkbox" name="null_category" value="null_category"
                {% if 'null_category' in chosen_categories %}checked{% endif %}>
            </label>
        <br>
        <b>Бренды</b>
        <br>
        {% for item in brands if item != 'null_brand' %}
            <label>
                {{ item }}
            <input type="checkbox" name="{{ item }}" value="{{ item }}"
                   {% if item in chosen_brands %}checked{% endif %}>
            </label>
            <br>
        {% endfor %}
        <label>Нет бренда
            <input type="checkbox" name="null_brand" value="null_brand"
             {% if "null_brand" in chosen_brands %}checked{% endif %}>
        </label>
        <button>Найти!</button>
    </form>
    <button id="reset-btn">Сбросить все фильтры</button>
    {% for product in goods %}
        <p><a href="{{ url_for('product', id=product.id) }}">{{ product.title }}</a></p>
        <p>{{ product.description[:15] }}...</p>
        <p>{{ product.price }}</p>
    {% endfor %}
    <script>
        let resetButton = document.getElementById('reset-btn');
        resetButton.onclick = () => document.location.href = "{{ url_for('goods_list') }}";
    </script>
{% endblock %}