{% extends  'base.html' %}
{% block body %}
    <style>
        .add::before {
            content: 'Добавить в избранное';
        }
        .delete::before {
            content: 'Удалить из избранного';
        }
    </style>
    <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
    <button id="wishlist-btn">
        <span class={% if in_wishlist %}{{ "delete" }}{% else %}{{ "add" }}{% endif %}></span>
    </button>
    {% for attr in product %}
        <p>{{ attr }}</p>
    {% endfor %}
    <form method="post">
        <label>
            Количество товаров: <input type="number" value="1" name="count" min="1">
        </label>
        <button>Добавить в корзину</button>
    </form>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script>
        $('#wishlist-btn').on('click', function() {
            if(document.querySelector('span').classList.contains('add')){
                document.querySelector('span').classList.remove('add');
                document.querySelector('span').classList.add('delete');
            }
            else {
                document.querySelector('span').classList.remove('delete');
                document.querySelector('span').classList.add('add');
            }
        $.ajax({
            url: '{{ url_for("add_to_wishlist",id=product.id) }}',
            method: 'post',
            })
        })
    </script>
{% endblock %}