{% extends 'base.html' %}
{% block body %}
    <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
    <button id="wishlist-btn">
         {% if in_wishlist %}Удалить из избранного{% else %}Добавить в избранное{% endif %}
    </button>
    {% for attr in product %}
        {% if attr == 'image' %}
            <p><img alt="<Фото не найдено>" src="../static/img/{{ product[attr] }}"></p>
        {% else %}
            <p>{{ product[attr] }}</p>
        {% endif %}
    {% endfor %}
    {% if product.count > 0 %}
            <button id="cart-btn" class="{% if not product.id in session['cart'] %}buy{% else %}redirect{% endif %}-btn">
                {% if not product.id in session['cart'] %}
                    Добавить
                {% else %}
                    Перейти
                {% endif %}
                в корзину
            </button>
    {% else %}
        <p><b>Товар временно недоступен</b></p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script>
        $('#wishlist-btn').on('click', function() {
        if(document.querySelector('#wishlist-btn').innerText === 'Удалить из избранного'){
            document.querySelector('#wishlist-btn').innerText = 'Добавить в избранное';
        }
        else {
            document.querySelector('#wishlist-btn').innerText = 'Удалить из избранного';
        }
        $.ajax({
            url: '{{ url_for("add_to_wishlist",id=product.id) }}',
            method: 'post',
            })
        })
        $('#cart-btn').on('click', function (){
            if(document.querySelector('#cart-btn').classList.contains('buy-btn')){
                document.querySelector('#cart-btn').classList.remove('buy-btn');
                document.querySelector('#cart-btn').classList.add('redirect-btn');
                document.querySelector('#cart-btn').innerText = 'Перейти в корзину';
                $.ajax({
                    url: '{{ url_for("append_to_cart",id=product.id) }}',
                    method: 'post',
                })
            }
            else {
                document.location.href = "{{ url_for('cart') }}";
            }
        })
    </script>
{% endblock %}