{% extends  'base.html' %}
{% block body %}
    <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
    <button id="wishlist-btn">
         {% if in_wishlist %}Удалить из избранного{% else %}Добавить в избранное{% endif %}
    </button>
    {% for attr in product %}
        <p>{{ attr }}</p>
    {% endfor %}
    <form method="post">
        <label>
            Количество товаров: <input type="number" value="1" name="count" min="1">
        </label>
        <button>Добавить в корзину</button>
    </form>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script>
        $('#wishlist-btn').on('click', function() {
        if(document.querySelector('#wishlist-btn').innerText === 'Удалить из избранного'){
            document.querySelector('#wishlist-btn').innerText = 'Добавить в избранное'
        }
        else {
            document.querySelector('#wishlist-btn').innerText = 'Удалить из избранного'
        }
        $.ajax({
            url: '{{ url_for("add_to_wishlist",id=product.id) }}',
            method: 'post',
            })
        })
    </script>
{% endblock %}