{% extends 'base.html' %}
{% block body %}
    <a href="{{ url_for('goods_list') }}">Вернуться на главную страницу</a>
    <form method="post">
        <label for="">mail:
            <input type="text" name="email" placeholder="Адрес почты...">
        </label>
        <label for="">Имя:
            <input type="text" name="name" placeholder="Имя...">
        </label>
        <label>Пароль:
            <input type="text" name="password" placeholder="Пароль...">
        </label>
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}